*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(83,89,126);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    align-items: center;
}

.one{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.circ{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 90px;
    background-color:rgb(62,140,201);
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: rgb(215,222,222);
}

.circly{
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: rgb(215,222,222);
}

.circli{
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background-color: rgb(215,222,222);
}

.two{
    color: rgb(180, 181, 189); 
    font-weight: bold;
}

.middlenav{
    width: 25%;
}

.navbar{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 190px;
}

.navbar a{
    padding-left: 190px; 
    color: rgb(180, 181, 189); 
    text-decoration: none; 
    font-weight: bold;
}

.navbar button{
    padding: 5px; 
    background-color: rgb(117,128,170); 
    border: none; 
    color: white; 
    font-weight: bold;
}

.home {
    background-color: rgb(50,55,84);
    background-image: linear-gradient(to bottom, rgb(50,55,84) 0%, rgb(102, 110, 150) 90%, rgb(129, 138, 189) 100%);
    display: flex;
    justify-content: space-around;
}

.first{
    margin-top: 120px;
    margin-left: 180px;
    width: 50%;
    margin-bottom: 80px;
}

.first-home{
    color: rgb(62,140,201);
}

.first-home1{
    margin-top: 20px; 
    font-size: 60px; 
    color: rgb(244,245,245);
}

.first button{
    margin-top: 40px; 
    padding: 15px; 
    width: 160px;
    background-color: rgb(62,140,201); 
    border: none; 
    color: rgb(244,245,245);
}

iframe{
    width: 160px;
    height: 130px;
    margin-top: 20px;
}

.second{
    margin-top: 120px;
    margin-right: 180px;
    width: 40%;
}

.first-img{
    width: 400px;
    height: 500px;
    object-fit: cover
}

.middle1{
    background-color: rgb(50,55,84);
    background-image: linear-gradient(to bottom, rgb(70,79,118) 0%, rgb(87, 92, 118) 80%, rgb(139, 147, 192) 100%); 
}

.mid{
    display: flex; 
    justify-content: center; 
    color: rgb(62,140,201); 
    padding-top: 70px;
}

.midd{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 25px; 
    color: rgb(244, 245, 245);
    margin-top: 20px;
}

.middd{
    display: flex; 
    justify-content: center; 
    margin-left: 400px; 
    margin-right: 400px; 
    font-size: 20px; 
    margin-top: 50px;
    color: rgb(173,180,211);
}

.imag{
    display: flex; 
    justify-content: center; 
    padding-bottom: 70px;
}

.first-img1{
    width: 800px;
    object-fit: cover;
}

.middle2{
    background-color: rgb(50,55,84);
    background-image: linear-gradient(to bottom, rgb(70,79,118) 0%, rgb(87, 92, 118) 80%, rgb(139, 147, 192) 100%); 
}

.ima{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

.arrow{
    height: 50px;
}

.midd{
    margin-top: 20px;
}

.middd{
    display: flex; 
    justify-content: center; 
    margin-left: 400px; 
    margin-right: 400px; 
    font-size: 20px; 
    margin-top: 50px; 
    color: rgb(173,180,211);
}

.imaag{
    display: flex; 
    justify-content: center; 
    height: 500px; 
    padding-bottom: 70px; 
    margin-top: 40px;
}

@media screen and (max-width: 768px){
    section{
        width: 100%;
    }

    .one{
        display: none;
    }

    .nav{
        background-color: rgb(83,89,126);
        height: 50px;
        /* display: block; */
        justify-content: space-between;
        flex-direction: column;
    }
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0;
        width: 100%;
    }

    .middlenav{
        width: 0%;
    }

    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 200px;
    }

    .home {
        background-color: rgb(50,55,84);
        background-image: linear-gradient(to bottom, rgb(50,55,84) 0%, rgb(102, 110, 150) 90%, rgb(129, 138, 189) 100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .first{
        margin-top: 120px;
        margin-left: 100px;
        width: 100%;
        margin-bottom: 80px;
    }
    
    .first-home{
        color: rgb(62,140,201);
        font-size: 15px;
    }
    
    .first-home1{
        margin-top: 20px; 
        font-size: 20px; 
        color: rgb(244,245,245);
    }
    
    .first button{
        margin-top: 30px; 
        padding: 10px; 
        width: 160px;
        background-color: rgb(62,140,201); 
        border: none; 
        color: rgb(244,245,245);
    }
    
    iframe{
        width: 160px;
        height: 130px;
        margin-top: 20px;
    }

    .second{
        margin-top: 30px;
        margin-left: 30px;
        padding-right: 30px;
        width: 40%;
        padding-bottom: 30px;
    }
    
    .first-img{
        width: 300px;
        height: 200px;
        object-fit: cover
    }
    
    .middle1{
        background-color: rgb(50,55,84);
        background-image: linear-gradient(to bottom, rgb(70,79,118) 0%, rgb(87, 92, 118) 80%, rgb(139, 147, 192) 100%); 
    }
    
    .mid{
        display: flex; 
        justify-content: center; 
        color: rgb(62,140,201); 
        padding-top: 70px;
        padding-left: 10px;
        font-size: 12px;
    }
    
    .midd{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 15px; 
        color: rgb(244, 245, 245);
        margin-top: 20px;
    }
    
    .middd{
        display: flex; 
        justify-content: center; 
        margin-left: 10px; 
        margin-right: 50px; 
        font-size: 17px;
        padding-left: 10px;
        color: rgb(173,180,211);
    }
    
    .imag{
        display: flex; 
        justify-content: center; 
        padding-bottom: 70px;
    }
    
    .first-img1{
        width: 300px;
        object-fit: cover;
    }
    
    .imaag{
        display: flex; 
        justify-content: center; 
        height: 250px; 
        /* width: 300px; */
        padding-bottom: 70px; 
        margin-top: 40px;
    }
}

@media screen and (max-width: 1024px){
    section{
        width: 100%;
    }

    .nav{
        background-color: rgb(83,89,126);
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0;
        width: 100%;
    }

    .middlenav{
        width: 25%;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .first-home{
        font-size: 20px;
    }
    
    .first-home1{
        font-size: 30px; 
        color: rgb(244,245,245);
    }
    
    .first-img{
        width: 300px;
        height: 400px;
        object-fit: cover
    }
    
    .mid{
        display: flex; 
        justify-content: center; 
        color: rgb(62,140,201); 
        padding-top: 70px;
        padding-left: 10px;
        font-size: 17px;
    }
    
    .midd{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        font-size: 15px; 
        color: rgb(244, 245, 245);
        margin-top: 20px;
    }
    
    .middd{
        display: flex; 
        justify-content: center; 
        margin-left: 10px; 
        margin-right: 50px; 
        font-size: 20px;
        padding-left: 10px;
        color: rgb(173,180,211);
    }
    
    .imag{
        display: flex; 
        justify-content: center; 
        padding-bottom: 70px;
    }
    
    .first-img1{
        width: 300px;
        object-fit: cover;
    }
    
    .imaag{
        display: flex; 
        justify-content: center; 
        height: 250px; 
        /* width: 300px; */
        padding-bottom: 70px; 
        margin-top: 40px;
    }
}